
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:#b3defa;
}
.header{
    /* display: flex; */
    justify-content: space-between;
    position: relative;
    top: -30px;
}
.title{
    color: lightgray;
    font-family: 'Nunito', sans-serif;
    font-size: 80 px;
    margin-bottom: 30px;
    height: 20px;
    position: relative;
    left: 20px;
    top: 40px;

}
.button{
    position: relative;
    /* text-decoration: none; */
    font-family: 'Nunito', sans-serif;
    right: -260px;
    top: -10px;
    /* left:560; */
    width: 100px;
    height: 30px;
    color:  #2f3974;
    background-color: #7b81c7;
    text-align: center;
    padding: 5px 5px 35px 5px;
    border-radius: 12px;
    transition: filter 0.3s ease;
    filter: brightness(100%)
}

.button:hover{
    filter:brightness(130%)
} 

.moves{
    color: lightgray;
    font-family: 'Nunito', sans-serif;
    font-size: 30 px;
    position: relative;
    top: -45px;
    left: 480px;
    height: 20px;
    width: max-content;
}
.directions{
   
    color:  #2f3974;
    font-family: 'Nunito', sans-serif;
    font-size: 16 px;
    position: relative;
    bottom: -50px;
    height: 20px;
    text-align: center;
}


.game-frame{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3974;
    width: 700px;
    height: 800px;
    border-radius: 60px;
    margin: 75px auto 0 auto;

}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
    width: 620px;
    height: 620px;
    border: 1px solid black;
    padding: 5px;
    background-color: #7b81c7;
}

.cell-Img {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    border: 0.5px solid grey;
    /* top: -30px; */
    /* background-color: cadetblue; */
}

.cell {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    /* border: 1px solid grey; */
    /* background-color: cadetblue; */
}

/* taken from box-model-blog: */
